<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panelGrid columns="2">
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="Seleccione el cliente:" />
				<p:selectOneMenu value="">
					<f:selectItems value="" var="c" itemLabel="" itemValue=""></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Seleccione la Medida de Peso:" />
				<p:selectOneMenu value="">
					<f:selectItems value="" var="a" itemLabel="" itemValue="#"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Fecha Venta:" />
				<p:calendar value="" />
				<h:outputText value="Cantidad:" />
				<p:spinner value="" min="1" max="20" size="2"></p:spinner>
				<p:commandButton value="Agregar detalle venta" update=":form2"
					 />
				<p:commandButton value="Guardar Factura" icon="pi pi-save"
					update="@form:,:form2,:form3" ></p:commandButton>
			</p:panelGrid>

		</h:form>
		<h:form id="form2">
			<p:panelGrid columns="2">
				<p:dataTable value=""
					var="d">

					<p:column headerText="Producto">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="Costo">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="Medida de Peso">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="Cantidad">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="Subtotal">
						<h:outputText value="" />
						<f:facet name="footer">
							<h:outputText value="" />
						</f:facet>
					</p:column>
				</p:dataTable>
			</p:panelGrid>
		</h:form>
	</p:panelGrid>
	<h:form id="form3">
		<p:dataTable value=""
			var="m">
			<f:facet name="header">
				<h:outputText value="Facturas" />
			</f:facet>
			<p:column headerText="ID">
				<h:outputText value="" />
			</p:column>
			<p:column headerText="Cliente">
				<h:outputText value="" />
			</p:column>
			<p:column headerText="Direccion">
				<h:outputText value="" />
			</p:column>
			<p:column headerText="Costo">
				<h:outputText value="" />
			</p:column>
		</p:dataTable>
	</h:form>
</body>
</html>
