<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="moraandinademo">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="moraandinademoEJB.jar" deploy-path="/" handle="module:/resource/moraandinademoEJB/moraandinademoEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="moraandinademoWeb.war" deploy-path="/" handle="module:/resource/moraandinademoWeb/moraandinademoWeb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
